html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, header, nav, main, section, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

*, *::before, *::after {
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}